<div id="contribution" itemprop="calendar"></div>
<script>
  window.__CONTRIBUTION_CALENDAR__ = {
    target: document.querySelector("#contribution"),
	  props: {
      data: {
        '2021-10-19': 3,
        '2021-10-21': 10,
        '2021-10-24': 9,
        '2021-10-26': 1,
        '2021-10-27': 1,
        '2021-10-28': 1,
        '2021-11-16': 4,
        '2021-11-17': 6,
        '2021-11-19': 1,
        '2021-11-24': 13,
        '2022-01-08': 4,
      }
	  }
  };
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/contribution-calendar@0.0.3/dist/embed.css" /></link>
<script src="https://cdn.jsdelivr.net/npm/contribution-calendar@0.0.3/dist/embed.js"></script>
