.post-header {
  .post-meta-container {
    .post-description {
      display: none;  
    }  
  }  
}

.post-toc .nav-item {
  line-height: 2;
}

.site-overview-item:not(:first-child) {
  margin-top: 0;  
}

.site-author-image {
  max-width: 80px;
}